.product{
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0 3px black;
}


.productArticle{
  padding: 15px;
}

.price{
  font-size: 1.2em;
  font-weight: bold;
}

.addCart{
  width: 100%;
  padding: 15px 0;
  background-color: #309700;
  font-size: 1.2em;
  color: #fff;
  border: 0;
  cursor: pointer;
}


.img{
  margin: 0 auto;
  padding: 15px;
  width: 50%;
  object-fit: contain;
}

.title{
  margin: 0;
}

.back{
  padding: 15px;
  background-color: #afc4ff;
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}
